
body{

	margin: -4px;
  background-color:#333; 

}

footer p{
  border-bottom:2px solid black;
  font-size: 20px;
  padding-top: 2px;
  background-color: #333;
  text-align: center;
  color: #D3D3D3;
  margin: 0%;
}

.navbar-fixed-top{
	background-color: #333;

   border-bottom:2px solid black;

}
.collapsed{
 
}

#navbar{
    color: #008000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 22px;

}

.page-wrap{
    position: relative;
    text-align: center;
    text-shadow: 2px 2px black;
}

ul.navbar-nav li a:hover:not(.active) {
  color: #00C851;
  border-style: dotted 6px;

}
#top-left {
    position: absolute;
    top: 60px;
    left: 40px;
    animation-duration:2s;
    color: #D3D3D3;
    font-size:3vw;
    font-weight: bold;

}
.bounceInRight{
  animation-duration:3s;
}
.container {
    width: 100%;
    height: auto;
    padding: 0%;
}
.icon-bar {
   background-color:#b2dbfb !important;
}
a{
  padding-left: 50px !important;
  padding-right: 50px !important;
}
ul li img{
      vertical-align: middle;
    height: 64px;
}